@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
  margin: 200;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
}

/* Scale canvas with resize attribute to full size */
canvas{
  width: 100%;
  height: 100%;
}
